.deadline-stl {
	margin-top: 2%;
}
.btn-primary {
   color: #f8fafb;
   background-color: #241d6a;
   border-color: #241d6a;
   width: 10%;
   font-style: initial;
   font-weight: bold;
   margin-top: 1%;
}
.align-button {
  float: right;
}